{% extends "base.html.twig" %}

{% block body %}
<div class="container my-4">
<h1 class="text-center mb-4">Liste de vos commandes</h1>

<table class="table table-dark table-striped">
<thead>
    <tr>
        <th>Produit</th>
        <th>Quantité</th>
        <th>Montant</th>
        <th>Etat de la commande</th>
        <th>Date de la commande</th>
    </tr>
</thead>
<tbody>
    
</tbody>
</table>
</div>
{% endblock %}