{% extends 'base.html.twig' %}

{% block title %}Backoffice{% endblock %}

{% block body %}

<h1 class="display-4 text-center my-4">BACKOFFICE</h1>

<p class="text-center">Bienvenue sur votre backoffice</p>


<a href="{{path('produit_gestion')}}" class="col-md-6 offset-md-3 btn btn-dark mb-2">GESTION DES PRODUITS</a>
<a href="" class="col-md-6 offset-md-3 btn btn-dark mb-2">GESTION DES COMMANDES</a>
<a href="{{path('membre_gestion')}}" class="col-md-6 offset-md-3 btn btn-dark mb-2">GESTION DES MEMBRES</a>


{% endblock %}
