{% extends 'base.html.twig' %}

{% block title %}Commande{% endblock %}

{% block body %}
<section>
    <main>
        <div>
            <h1 class="text-center mt-4">Commande</h1>
            <p>La commande est finalisée</p>
            
        </div>
    </main>
</section>

{% endblock %}
